.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

video {
  /* @apply object-cover lg:object-contain; */
  object-fit: cover;
}
